html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

canvas {
  outline: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; /* mobile webkit */
}

#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#controls {
    position: absolute;
    right: 2vw;
    top: 3vh;
    width: 20vw;
    z-index: 1000;
}

.control-box {
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid slategrey;
    background-color: #eee;
    margin-bottom: 5px;
    padding: 5px;
}


#info-box .none { text-align: center; }
#info-box .on { display: block; }
#info-box .off { display: none; }

#date-selector-input {
    width: 85%;
    margin-left: 5%;
}

#date-selector-label {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    
}

.date-label {
    font-size: 8pt;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform-origin: bottom center;
}

.subtitle {
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 5pt;
}

.bold { font-weight: bold; }
