html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#controls {
    position: absolute;
    right: 2vw;
    top: 3vh;
    width: 20vw;
    z-index: 1000;
}

.control-box {
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: aliceblue;
    margin-bottom: 5px;
}

#date-selector-input {
    width: 85%;
    margin-left: 5%;
}

#date-selector-label {
    height: 30px;
}

.date-label {
    position: absolute;
    top: 15px;
    font-size: 6pt;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}